@import "../mixins";

.products-shop {
	& .product {
		@include lg {
			margin: 0 0 14px 0;
		}
	}

	& .products {
		padding: 50px 0 141px;

		@include lg {
			padding: 27px 0 96px;
		}

		@include sm {
			padding: 6px 0 121px;
		}
	}

	& .products__title {
		padding: 0 0 0 43px;

		@include lg {
			padding: 0 0 0 9px;
			margin: 0 0 32px 43px;
		}

		@include sm {
			margin: 0 0 9px 9px;
		}
	}
}
