@import "../mixins";

.search {
	padding: 45px 0 15px;

	@include lg {
		padding: 32px 0 0;
	}

	@include sm {
		padding: 23px 0 0;
	}
}

.form-search {
	max-width: 740px;
	min-height: 52px;
	display: flex;

	// .form-search__label
	&__label {
		flex: 1 1 100%;
		position: relative;
		padding: 0;
		margin: 0 8px 0 0;

		@include md-min {
			&:hover .form-search__icon {
				fill: $darkGrey;
			}
		}

		@include sm {
			margin: 0;
		}
	}

	// .form-search__icon
	&__icon {
		position: absolute;
		top: 50%;
		left: 24px;
		transform: translate(0, -50%);
		width: 24px;
		height: 24px;
		fill: $lightGrey;
		transition: all $hoverTime ease;

		@include sm {
			left: 16px;
		}
	}

	// .form-search__input
	&__input {
		width: 100%;
		height: 100%;
		padding: 0 20px 0 56px;
		line-height: 30;

		@include md-min {
			&:active .form-search__icon {
				fill: $brandHoverColor;
			}

			&:focus + .form-search__icon {
				fill: $brandHoverColor;
			}
		}

		@include sm {
			padding: 0 20px 0 48px;
		}
	}

	// .form-search__button
	&__button {
		max-width: 134px;

		@include lg {
			padding: 15px 32px;
		}
		@include sm {
			display: none;
		}
	}
}
