// ============================
$brandColor: #ff7a00;
$brandHoverColor: #da6401;

$lightTextColor: #fff1e3;
$blackTextColor: #222;

$white: #fff;
// ============================

$brandColor-20: rgba(255, 122, 0, 0.2);
$brandColor-70: rgba(255, 122, 0, 0.7);
$brandColor-0: rgba(255, 122, 0, 0);

$blackTextColor-9: rgba(34, 34, 34, 0.6);

$black: #000;
$black-80: rgba(0, 0, 0, 0.8);
$black-32: rgba(0, 0, 0, 0.32);
$black-20: rgba(61, 58, 55, 0.2);
$black-25: rgba(0, 0, 0, 0.25);
$black-10: rgba(0, 0, 0, 0.1);
$black-8: rgba(0, 0, 0, 0.08);
$lightBrandColor: #fff2e5;

$darkGrey: #9a9a9a;
$dark-97: #979797;
$grey: #c4c4c4;
$grey-25: rgba(151, 151, 151, 0.25);

$lightGrey: #dfdfdf;

$hoverTime: 0.4s;
$doubleHoverTime: 0.8s;

$minWidth: 320px;
$middleWidth: 768px;
$maxWidth: 1920px;
$maxWidthContainer: 1230px;

$screen-xl: 1199.98;
$screen-lg: 991.98;
$screen-md: 767.98;
$screen-sm: 479.98;
