<header class="header _fixed">
	<div class="_container">
		<div class="header__content">

			<a class="header__logo logo _hoverSVG _dynamic_adapt_" data-da=".menu__body,992,2" href="../index.html">
				<svg class="logo__image">
					<use xlink:href="img/sprite.svg#logo"></use>
				</svg>
			</a>

			<div class="header__menu menu">
				<button class="menu__burger burger" type="button">
					<span></span>
					<span></span>
					<span></span>
				</button>

				<nav class="menu__body _dynamic_adapt_" data-da=".wrapper,992,0">

					<ul class="menu__list">
						<li class="menu__item">
							<a class="menu__link _hover decor" href="../index.html">Home</a>
						</li>

						<li class="menu__item">
							<a class="menu__link _hover decor" href="../shop.html">Shop</a>
						</li>

						<li class="menu__item">
							<a class="menu__link _hover decor" href="../index.html">Gallery</a>
						</li>
					</ul>

					<a class="menu__backet _hoverSVG _dynamic_adapt_" data-da=".menu,992,2" href="#">
						<svg class="menu__icon">
							<use xlink:href="img/sprite.svg#backet"></use>
						</svg>
						<span class="menu__amount">0</span>
					</a>

					<ul class="menu__request">
						<li class="menu__popup menu__popup--contact">
							<a class="menu__btn link link--contact popup-link" href="#popup__contact-us">contact us</a>
						</li>

						<li class="menu__popup menu__popup--order">
							<button class="menu__btn link link--order _goto" data-goto=".booking" type="button">book
								now</button>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>