<section class="contacts">
	<div class="_container">
		<div class="contacts__inner">
			<div class="contacts__content">
				<div class="contacts__address">
					<h2 class="contacts__title title scroll-item">
						Contact us
					</h2>
					<address class="contacts__address address contacts__paddings">
						<span class="address__location address__location--city">
							Ukraine, Kyiv
						</span>
						<span class="address__location address__location--street">
							<span class="address__location-name">
								str.
							</span>Oleshi 15, 62000
						</span>
						<a class="address__location address__location--email _hover"
							href="mailto:support@gmail.com">support@gmail.com</a>
						<a class="address__location address__location--phone _hover" href="tel:+38044152566954">+38 (044) 15 25 66
							954</a>
					</address>
					<ul class="contacts__socials socials contacts__paddings">
						<li class="socials__image">
							<a class="socials__link _hoverSVG" href="#">
								<svg class="socials__icon">
									<use xlink:href="img/sprite.svg#instagram"></use>
								</svg>
							</a>
						</li>

						<li class="socials__image">
							<a class="socials__link _hoverSVG" href="#">
								<svg class="socials__icon">
									<use xlink:href="img/sprite.svg#youtube"></use>
								</svg>
							</a>
						</li>

						<li class="socials__image">
							<a class="socials__link _hoverSVG" href="#">
								<svg class="socials__icon">
									<use xlink:href="img/sprite.svg#facebook"></use>
								</svg>
							</a>
						</li>
					</ul>
				</div>

				<div class="contacts__schedule">
					<h2 class="contacts__title  contacts__title--schedule title">
						Schedule
					</h2>
					<div class="contacts__opentime contacts__paddings">
						<span class="contacts__days">
							mon - fri
						</span>
						<span class="contacts__time">
							10:00 - 20:00
						</span>
					</div>
					<div class="contacts__opentime contacts__paddings">
						<span class="contacts__days">
							sat - sun
						</span>
						<span class="contacts__time">
							12:00 - 22:00
						</span>
					</div>
				</div>
			</div>

			<div class="contacts__map">
				<img class="contacts__img" src="img/bg/map.png" alt="Picture of map with our locations">
			</div>
		</div>
	</div>
</section>