<li class="description__item _tabs-block" data-tab="tab 1">
	<span class="description__name">Alex</span>
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat assumenda quisquam voluptatum
		saepe rem
		animi, voluptatem sunt et? Dolores facere voluptatibus, similique eveniet nobis voluptatem saepe aut
		deleniti inventore molestiae ratione earum cum ex consequatur ullam ipsam excepturi ad eaque. Quaerat
		laborum culpa nobis consequatur nihil id labore quia dicta.
	</p>
</li>

<li class="description__item _tabs-block tab_active" data-tab="tab 2">
	<span class="description__name">Jorge Jones</span>
	<p>
		- How did you become a barber?<br>
		- I decided to master the creative profession. And he found himself precisely in this. So my life has
		changed dramatically.<br>
		- What exactly do you like in your profession? Why are you blissing?<br>
		- I like to work in a men's team, communicating with interesting people.<br>
		- Why should a person who wants a haircut choose you?<br>
		- Because I'm old and charismatic.
	</p>
</li>

<li class="description__item _tabs-block" data-tab="tab 3">
	<span class="description__name">Albert</span>
	<p>
		Accompanied by experienced guides. The weather was not so hot. But we waited for a window in the weather -
		and it was a wonderful way out. Guides will help you to prepare thoroughly! The ascent plan is comfortably
		thought out! We admired the summits of Elbrus with a beautiful panorama of the surrounding mountains.
	</p>
</li>

<li class="description__item _tabs-block" data-tab="tab 4">
	<span class="description__name">Jacob</span>
	<p>
		Thus, the further development of various forms of activity makes it possible to assess the importance of
		the positions taken by the participants in relation to the tasks set.
	</p>
</li>

<li class="description__item _tabs-block" data-tab="tab 5">
	<span class="description__name">Avatar</span>
	<p>
		Comrades! further development of various forms of activity allows us to carry out important tasks to
		develop further directions of development. The task of the organization, especially the further
		development of various forms of activity, entails the process of introducing and modernizing systems of
		mass participation.
	</p>
</li>

<li class="description__item _tabs-block" data-tab="tab 6">
	<span class="description__name">Dart Vaider</span>
	<p>
		And the Jedi rebellion failed.
		The remaining Jedi will be found and defeated by us!
		... From the attempt on my life, I still have scars. I'm disfigured! But I assure you, my determination is
		both
		never strong and great!
		In order to ensure security and greater stability, the Republic will be reorganized by us in the first
		Galactic Empire, for the sake of safety and for the good of society!
	</p>
</li>

<li class="description__item _tabs-block" data-tab="tab 7">
	<span class="description__name">Homer Simpson</span>
	<p>
		A small brook Dahl gurgles throughout the country and provides it with all the necessary rules. This is a
		paradigmatic country in which the fried members of the sentence fly right into the mouth. Even omnipotent
		punctuation has no power over fishy texts that lead a non-pictorial lifestyle.
	</p>
</li>

<li class="description__item _tabs-block" data-tab="tab 8">
	<span class="description__name">SpongeBob Squarepants</span>
	<p>
		- If they think you're stupid, then they just haven't seen real fools!
		- But they watch TV ...
	</p>
</li>