<section class="shop" id="shop">
	<h1 class="sr-only">
		Brandy sale
	</h1>
	<div class="shop__container _container">
		<div class="shop__content">
			<button class="shop-swiper__arrow shop-swiper__arrow--prev _hover" type="button"></button>
			<button class="shop-swiper__arrow shop-swiper__arrow--next _hover" type="button"></button>
			<div class="shop-swiper">
				<div class="shop-swiper__wrapper">
					<div class="shop-swiper__slide shop-slide">
						<span class="shop-slide__value shop-slide__value--modul">-</span>
						<span class="shop-slide__value shop-slide__value--amount">50</span>
						<span class="shop-slide__value shop-slide__value--quality">%</span>
						<span class="shop-slide__value shop-slide__value--description">brandy sale</span>
					</div>
					<div class="shop-swiper__slide shop-slide">
						<span class="shop-slide__value shop-slide__value--modul">-</span>
						<span class="shop-slide__value shop-slide__value--amount">25</span>
						<span class="shop-slide__value shop-slide__value--quality">%</span>
						<span class="shop-slide__value shop-slide__value--description">brandy sale</span>
					</div>
					<div class="shop-swiper__slide shop-slide">
						<span class="shop-slide__value shop-slide__value--modul">-</span>
						<span class="shop-slide__value shop-slide__value--amount">70</span>
						<span class="shop-slide__value shop-slide__value--quality">%</span>
						<span class="shop-slide__value shop-slide__value--description">brandy sale</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>