<section class="product-page">
	<h1 class="sr-only">
		Page of the product
	</h1>
	<div class="product-page__container _container">

		<article class="product-page__product product-item">
			<span class="product__action">
				sale
			</span>

			<div class="product-item__view _tabs">
				<nav class="product-item__tab-nav">
					<button class="product-item__tab _tabs-item _active scroll-item">
						<picture>
							<!-- <source class="product-item__picture" srcset="img/product/beard-oil_brooklyn.webp" type="image/webp"> -->
							<img class="product-item__picture" src="img/product/beard-oil_brooklyn.png"
								alt="Beard Oil Brooklyn picture">
						</picture>
					</button>

					<button class="product-item__tab _tabs-item scroll-item">
						<picture>
							<img class="product-item__picture" src="img/product/brand_barbers.png" alt="Beard Oil brand - Barbers">
						</picture>
					</button>

					<button class=" product-item__tab _tabs-item scroll-item">
						<picture>
							<img class="product-item__picture" src="img/product/mark_brooklyn.png"
								alt="Beard Oil type of product - Brooklyn">
						</picture>
					</button>
				</nav>

				<div class="product-item__tab-body scroll-item">
					<picture class="product-item__image _tabs-block _active">
						<!-- <source class="product__img" srcset="img/product/beard-oil_brooklyn.webp" type="image/webp"> -->
						<img class="product-item__img product__img" src="img/product/beard-oil_brooklyn.png"
							alt="Beard Oil Brooklyn picture">
					</picture>

					<picture class="product-item__image _tabs-block">
						<img class="product-item__img product__img" src="img/product/brand_barbers.png"
							alt="Beard Oil brand - Barbers">
					</picture>

					<picture class="product-item__image _tabs-block">
						<img class="product-item__img product__img" src="img/product/mark_brooklyn.png"
							alt="Beard Oil type of product - Brooklyn">
					</picture>
				</div>
			</div>

			<div class="product-item__content">
				<h2 class="product-item__subtitle product__subtitle scroll-item">
					Barbers. Beard balm Brooklyn
				</h2>
				<div class="product-item__inner product__inner">
					<span class="product-item__name product__name">
						Premium beard balm
					</span>
					<span class="product-item__amount product__amount">
						50 ml
					</span>
					<span class="product-item__maden product__maden">
						New York original
					</span>
					<del class="product-item__old-price">
						$ 540.00
					</del>
					<span class="product-item__price product__price">
						$ 490.00
					</span>
				</div>

				<div class="product-item__bottom">
					<div class="product__choise product-item__choise">
						<button class="product__button product__button--shop link link--shop" type="button">
							Shop now
						</button>
						<button class="product__button product__button--backet link link--shop" type="button">
							+
						</button>
					</div>

					<div class="product-item__description">
						<button class="product-item__see-more" type="button">
							see more
						</button>
						<div class="product-item__text">
							<p>
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam voluptas maxime vero. Eos eveniet omnis
								ea
								iure pariatur, maxime qui culpa perspiciatis. Esse cupiditate est iste soluta saepe facilis officiis quo
								unde, ullam iure harum, velit repellendus qui et dignissimos odit aperiam tempore a iusto neque. Non
								ducimus repudiandae unde?
							</p>
						</div>
					</div>

				</div>

			</div>
		</article>
	</div>
</section>