<section class="services" id="services" style="background-image: url(img/bg/bg_service.jpg);">
	<div class="_container">
		<h2 class="services__title title scroll-item">
			Our services
		</h2>
	</div>

	<div class="services__content">
		<div class="_container">
			<ul class="services__list">
				<li class="services__item _hover scroll-item" style="background-image: url(img/icons/scissors.png);">
					<a class="services__link _hover" href="#">
						<span class="services__name">
							Men's haircut
						</span>
						<span class="services__time">
							60 min.
						</span>
						<span class="services__price">
							350 / 400 / 450 ₴
						</span>
					</a>
				</li>

				<li class="services__item _hover scroll-item" style="background-image: url(img/icons/trimmer.png);">
					<a class="services__link _hover" href="#">
						<span class="services__name">
							Crop close
						</span>
						<span class="services__time">
							30 min.
						</span>
						<span class="services__price">
							250 / 400 / 550 ₴
						</span>
					</a>
				</li>

				<li class="services__item _hover scroll-item" style="background-image: url(img/icons/hair-dryer.png);">
					<a class="services__link _hover" href="#">
						<span class="services__name">
							Drying
						</span>
						<span class="services__time">
							10 min.
						</span>
						<span class="services__price">
							50 / 100 / 150 ₴
						</span>
					</a>
				</li>

				<li class="services__item _hover scroll-item" style="background-image: url(img/icons/shampoo.png);">
					<a class="services__link _hover" href="#">
						<span class="services__name">
							Wash hair
						</span>
						<span class="services__time">
							30 min.
						</span>
						<span class="services__price">
							300 / 400 / 500 ₴
						</span>
					</a>
				</li>

				<li class="services__item _hover scroll-item" style="background-image: url(img/icons/swab.png);">
					<a class="services__link _hover" href="#">
						<span class="services__name">
							Shaving
						</span>
						<span class="services__time">
							30 min.
						</span>
						<span class="services__price">
							250 / 400 / 550 ₴
						</span>
					</a>
				</li>

				<li class="services__item _hover scroll-item" style="background-image: url(img/icons/razor.png);">
					<a class="services__link _hover" href="#">
						<span class="services__name">
							Hot shave
						</span>
						<span class="services__time">
							40 min.
						</span>
						<span class="services__price">
							350 / 400 / 450 ₴
						</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</section>