<button class="swiper-team__arrow swiper-team__arrow--prev _hover" type="button"></button>
<button class="swiper-team__arrow swiper-team__arrow--next _hover" type="button"></button>

<div class="swiper-team__pagination"></div>

<div class="swiper-team__wrapper">
	<div class="swiper-team__slide swiper-slide _tabs-item" data-hash="slide 1">
		<img class="swiper-slide__image" src="img/team/photo_Alex.jpg" alt="Photo our team's member Alex">
	</div>

	<div class="swiper-team__slide swiper-slide _tabs-item tab_active" data-hash="slide 2">
		<img class="swiper-slide__image" src="img/team/photo_Jorge-Jones.jpg" alt="Photo our team's member Jorge Jones">
	</div>

	<div class="swiper-team__slide swiper-slide _tabs-item" data-hash="slide 3">
		<img class="swiper-slide__image" src="img/team/photo_Albert.jpg" alt="Photo our team's member Albert">
	</div>

	<div class="swiper-team__slide swiper-slide _tabs-item" data-hash="slide 4">
		<img class="swiper-slide__image" src="img/team/photo_Jacob.jpg" alt="Photo our team's member Jacob">
	</div>

	<div class="swiper-team__slide swiper-slide _tabs-item" data-hash="slide 5">
		<img class="swiper-slide__image" src="img/team/photo_Avatar.jpg" alt="Photo our team's member Avatar">
	</div>

	<div class="swiper-team__slide swiper-slide _tabs-item" data-hash="slide 6">
		<img class="swiper-slide__image" src="img/team/photo_Dart-Vaider.jpg" alt="Photo our team's member Dart Vaider">
	</div>

	<div class="swiper-team__slide swiper-slide _tabs-item" data-hash="slide 7">
		<img class="swiper-slide__image" src="img/team/photo_Homer-Simpson.jpg" alt="Photo our team's member Homer Simpson">
	</div>

	<div class="swiper-team__slide swiper-slide _tabs-item" data-hash="slide 8">
		<img class="swiper-slide__image" src="img/team/photo_SpongeBob-Squarepants.jpg"
			alt="Photo our team's member SpongeBob Squarepants">
	</div>
</div>