<section class="hero" id="hero">
	<div class="hero__content">
		<div class="hero__order">
			<h1 class="hero__title sr-only">
				Barber Shop
			</h1>

			<img class="hero__logo" src="img/logo/logo_hero.png" alt="Logo Barber Shop">
			<span class="hero__slogan">
				Our barbershop is a place of style and mutual understanding in which it is pleasant to spend time.
			</span>
			<button class="hero__btn link link--order _goto" data-goto=".booking" type="button">
				Book now
			</button>
		</div>

		<button class="hero__link _hoverSVG _goto" data-goto=".services" type="button" aria-label="Scroll to services">
			<svg class="hero__arrow">
				<use xlink:href="img/sprite.svg#arrow_down"></use>
			</svg>
		</button>
	</div>
</section>