<div class="popup popup_popup">
	<div class="popup__content">
		<div class="popup__body">
			<div class="popup__close"></div>
		</div>
	</div>
</div>
<div class="popup popup__contact-us" id="popup__contact-us">
	<div class="popup__content">
		<div class="popup__body">
			<svg class="popup__close _hoverSVG">
				<use xlink:href="img/sprite.svg#close"></use>
			</svg>
			@include('contact-us.html',{})
		</div>
	</div>
</div>
<div class="popup popup_video">
	<div class="popup__content">
		<div class="popup__body">
			<div class="popup__close popup__close_video"></div>
			<div class="popup__video _video"></div>
		</div>
	</div>
</div>