<article class="product">
	<span class="product__action">
		sale
	</span>

	<div class="product__wrapper">

		<a class="product__image" href="../product.html">
			<img class="product__img" src="img/product/beard-oil_brooklyn.png" alt="Beard Oil Brooklyn picture">
		</a>
		<div class="product__content">
			<div class="product__description">
				<span class="product__subtitle">
					Barbers
				</span>
				<div class="product__inner">
					<span class="product__name">
						Premium beard balm
					</span>
					<span class="product__amount">
						50 ml
					</span>
					<span class="product__maden">
						New York original
					</span>
				</div>
				<span class="product__price">
					$ 490.00
				</span>

			</div>
			<div class="product__choise">
				<button class="product__button product__button--shop link link--shop" type="button">
					Shop now
				</button>
				<button class="product__button product__button--backet link link--shop" type="button">
					+
				</button>
			</div>
		</div>

	</div>
</article>
